body {
    background-color: #000;
    color: rgb(70, 187, 70);
    font-family: 'Roboto Mono', monospace;
    font-weight: 200; /* thinner font weight */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: flex-start; /* align items to the start (left) */
    justify-content: left;
    height: 100vh;
}

.content {
    text-align: left; /* align text to the left */
    padding: 20px; /* add padding for spacing */
    margin-left: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    margin-bottom: 20px; /* add margin below the paragraph */
}
